{% load static %}

<footer class="py-3 ">
    <div class="container">


 
            <a  href="https://vk.com/id266701439" target="_blank"><img src="{% static 'images/vk.png' %}"   alt=""></a> 
            
           <a href="" target="_blank"><img src="{% static 'images/tg.png' %}" alt=""></a> 
           <br>
            
 


        <p  class="m-0 text-center text-dark mt-3">Copyright &copy; Website 2022</p>
        <p class="m-0 text-center text-dark">  <p class="m-0 text-center text-dark">ПИО "БРиЗ" В ХАБАРОВСКОМ КРАЕ</p>
         </p>  <p class="m-0 text-center text-dark">  <p class="m-0 text-center text-dark">+7-914-191-67-11</p>
        </p>
      
    </div>
   
</footer>
 
<style>
    footer{ /* настраиваем весь футер */ 
        width: 100%;
        height: auto;
     
        margin: 0	auto;
        text-align: center;
        padding-top: 25px;
       color:white;
        font-size: 18px;	 
    }
</style>