{% load static %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
      <a class="navbar-brand" href="/">Главная</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href=" ">О НАС</a></li>
              <li class="nav-item"><a class="nav-link" href=" ">НАША КОМАНДА</a></li>
              <li class="nav-item"><a class="nav-link" href=" ">НАШИ ПРОЕКТЫ</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'smi_about' %}">СМИ О НАС</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">КОНТАКТЫ</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'reestr' %}">РЕЕСТР ПОИСКОВЫХ ОТРЯДОВ</a></li>
          </ul>
      </div>
  </div>
</nav>

</nav>