{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="  my-5 py-6 text-center ">
  <div>
    



    <h5 >Отряд “БРиЗ” («Будущее России и Земли»), был сформирован на базе общежития №1 Хабаровского колледжа отраслевых технологий и сферы обслуживания в 2018 году и 
      командиром отряда был избран Зубарев Георгий</h5><br>
    <h5>Наш отряд активно участвует в различных акциях патриотической направленности, таких как “Дорога к обелиску”, ”Судьба солдата”, “Блокадный хлеб”, «Вахта Памяти». 
      Сотрудничая с региональным отделением общероссийского общественного движения "Поисковое движение России», наш отряд, при их поддержке и организации,
      принял участие в поисковых экспедициях в ЕАО, в Бикинский район и межрегиональных поисковых экспедициях на остров Сахалин и Курильские острова.
      Основной упор нашего отряда - это участие в «Вахтах памяти» и поисковых экспедициях по местам боёв времен Гражданской войны и Второй мировой войны.</h5><br>
    <h5>Деятельность нашего отряда многогранна и основными направлениями работы отряда стали:</h5>

<style>
  .list-group-item{
border:none;
  }
</style>

    <ul class="list-group text-start">
      <li class="list-group-item">- благоустройство воинских захоронений, братских могил;</li>
      <li class="list-group-item"> - организация и проведение акции "Судьба солдата" по установлению судеб граждан,
        пропавших в годы войны защитников Отечества;</li>
      <li class="list-group-item"> - участие в межрегиональных и региональных Вахтах памяти;</li>
      

    </ul>

    {% comment %} <h5>- благоустройство воинских захоронений, братских могил;<br>
      - организация и проведение акции "Судьба солдата" по установлению судеб граждан, пропавших в годы войны защитников
      Отечества;
      - организация и проведение поисково-исследовательских экспедиция, участие в межрегиональных Вахтах памяти;
      - оказание методической, консультационной помощи руководителям поисковых отрядов края.</h5> {% endcomment %}
    
  </div>
</div>

<div class="row my-4 text-center">

  <h3>О нас</h3>

  {% for item in about_us %}
  <div class="col-md-4 p-4">
    <div   class="card  card-project text-start">
      <h4 class="font-weight-light">{{item.title|striptags|truncatechars:40 }}</h4><br>
      <img style='height:300px;' src="{{item.image1.url }}" class="card-img-top" />

      <div class="card-body">
        <p class='text_normal'>{{item.description|striptags|truncatechars:100 }}</p>
        <a class="btn btn-primary" href="{% url 'about_us_detail' item.id %}">Подробнее </a>

      </div>
    </div>
  </div>

  {% endfor %}

</div>

<div class="row my-4 text-center">
  <h3>Документы</h3>
</div>
{% for doc in docs %}
<div class="row gx-4 gx-lg-5 align-items-center my-5  ">

  <div class="col-lg-10 ">
    <h6>{{ doc.title }}</h6>
  </div>
  <div class="col-lg-1   ">


    {% if doc.url %}
    <a href="{{doc.url}}" class="btn btn-primary rounded-0 btn-lg" target="__blank" rel="noreferrer">Ознакомиться</a>
    {% endif %}

  </div>
</div>
{% endfor %}


</div>









{% endblock %}