{% extends 'layout.html' %}
{% load static %}
{% block content %}
 
 
<h1 class="h3 text-center my-4"> Наши статьи </h1>

<style>
  .hover-image-scale {
    display: inline-block; 
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .hover-image-scale img {
    transition: 1s; /* Время эффекта */
    display: block; 
  }
  .hover-image-scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }


  



</style>


 
 



<div class="row">
  {% for art in article %}
  <div class="col-6 d-flex mb-5 justify-content-center">
    <div class=" text-center" >
      <div class="card-body">
        <h4 class="card-title">{{art.title}}</h4>
        <div class="hover-image-scale">
          <a  href="{% url 'article_detail' art.id %}"><img  src="{{art.image1.url}}" class="card-img-top" /></a>
      </div>
        <h6 class="card-title">{{art.description }}</h6>
     
        <a class="btn btn-primary" href="{% url 'article_detail' art.id %}">Подробнее </a>
      

       
      </div>
    </div>
  </div>
  {% endfor %}
</div>

 


 


{% endblock %}





 