{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class=" text-white  my-5 py-6 text-center">
    <div class="card-body">
        <h3 class="text-dark m-0">Зубарев Георгий Вячеслалович<br>
            командир поисковго отряда "БРиЗ"</h3>
    </div>
</div>

<div class="row gx-4 gx-lg-5 align-items-center my-5  ">
   
    <div class="col-lg-6 "><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'images/gera.jpg' %}"  /></div>
    <div class="col-lg-6  ">
        <h3 class="font-weight-light">Дата рождения: 20.08.2002 г. (20 лет).</h3><br>

        <p>Место рождения: ЕАО, с. Камышовка</p>
            <br>
            Образование: среднее профессиональное образование "Хабаровский колледж отраслевых технологий и сферы обслуживания 
 
        </div>
</div>


<div class="row my-4 text-dark">
    <div class=" text-dark  my-5 py-6 text-center">
        <div class="card-body">
            <h3 class="text-dark m-0">Актив студенческого отряда "БРиЗ"</h3><br>
            <p>Членами отряда БРиЗ являются студенты колледжа из разных уголков России </p>
        </div>
    </div>
  
   
 {% for team2 in active_team %}
<div class="col-md-3 p-2">
    
  <div class="card ">
     
       
    <img src="{{team2.image.url }}" class="card-img-top   " />
   
    <div class="card-body">

        <h5>{{ team2.name }}</h5>
      <p>{{ team2.title }}</p>
     
    </div>
  </div>
</div>
{% endfor %}
</div>
 
<div class=" text-dark  my-5 py-6 text-center">
  <div class="card-body">
      <h3>Организация регионального отделения</h3><br>
      <p>Руководители и члены команды регионального отделения Хабаровского края</p>         
  </div>
</div>

<div class="row my-4 text-center">

{% for team in our_team %}
<div class="col-md-3 p-2">
  
<div class="card  ">
   
     
  <img src="{{team.image.url }}" class="card-img-top" />
 
  <div class="card-body h-25">

      <h5>{{ team.name }}</h5>
    <p>{{ team.title }}</p>
    <p>{{ team.Phone }}</p>
  </div>
</div>
</div>
{% endfor %}
</div>

 
   
{% endblock %}