{% extends 'layout.html' %}
{% load static %}
{% block content %}

 
<div class=" text-white  my-5 py-4 text-center">
    <div class="card-body">
        <h3 class="text-dark m-0">СМИ о движении</h3>
    </div>
</div>
 
 
<div class="row my-6 text-center">

   
  {% for smi in smis %}
  <div class="col-md-3 p-3">
      
    <div class="card  card-project">
        <h6>{{ smi.title|striptags|truncatechars:40 }}</h6>
         
      <img src="{{smi.image.url }}" class="card-img-top" />
     
      <div class="card-body">

        
        {% if smi.url %}
        <a href="{{smi.url}}" class="btn btn-primary rounded-0 btn-sm" target="__blank" rel="noreferrer">Читать новость </a>
        {% endif %}
        <p>{{ smi.date }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
 
</div>



{% endblock %}